<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Tumblelog</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
   <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
            <a class="brand" href="/">My Tumblog</a>
            <div class="brand"><small>A simple blog with image and video</small></div>
          </h2>
          <div class="navi">
              <a href="{{ url_for("admin.index") }}" class="btn primary">Login</a>
          </div>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
