{% import "_forms.html" as forms %}
{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1 class="title">{{ post.title }}</h1>
  </div>
{% endblock %}

{% block content %}

<div class="middlemain">
  {% if post.embed_code %}
    {{ post.embed_code|safe() }}
  {% elif post.image._url %}
    <p><img src="{{ post.image_url }}" /><p>
  {% endif %}
  <p>{{ post.body }}</p>
  {% if post.embed_code %}
    <p><img src="{{ post.image_url }}" /><p>
  {% endif %}
  <p>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  <hr>
  <h2>Comments</h2>
  {% if post.comments %}
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
      {{ comment.text }}
    {% endfor %}
  {% endif %}
    <hr>
    <h2>Add a comment</h2>
    <form action="." method="post">
      {{ forms.render(form) }}
      <div  style="padding-left: 150px;">
        <input type="submit" class="btn primary" value="comment">
      </div>
    </form>
</div>
<div class="footdown">
</div>
<div class="actions">
</div>
{% endblock %}
